*{
    box-sizing:border-box;
margin:0;
padding:0;
font-family:fantasy;
}
body{
    display:flex;
    min-height:100vh;
    justify-content:center;
    background-color: rgb(239, 110, 146);
    
}

#display {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.dashboard-container {
display:flex;
width:100%;
}
/*siderbar*/
.sidebar {
    width:220px;
    background-color:rgb(186, 20, 20);
    color:blueSky;;
    height: 300px;
    box-shadow:2px 0 5px rgba(0,0,0,0.1);
}
.stats-cards {
    display:flex;
    gap:15px;
    padding:20px;
    background-color:green;
}
.card {
    flex:1;
    background-color:rgb(221, 230, 235);
    padding:20px;
    border-radius:10px;
    text-align:center;
}

.card h3 {
  margin-bottom: 10px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #bbdee3;
}
/* Charts */
.charts {
  margin-top: 40px;
}
.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar nav ul {
  list-style: flex;
}

.sidebar nav ul li {
  margin: 15px 0;
}
.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar nav ul li a.active,
.sidebar nav ul li a:hover {
  background-color: #17c166;
  padding: 8px;
  border-radius: 4px;
}

/* Main content */
.main-content {
  margin:center;
  padding: 20px;
  width: 100%;
}